<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <title>Submit New Post</title>
  </head>
  <body>
    <h1 th:text="${hello}">Hello</h1>
    <form th:action="@{${link}}" th:object="${posting}" th:method="${method} == null ? POST : PUT">
      <div>
        <label>Name</label>
        <input type="text" th:field="*{poster}"/>
      </div>
      <div>
        <label>Content</label>
        <input type="text" th:field="*{content}"/>
      </div>
      <button type="submit" class="button">Submit</button>
    </form>
  </body>
</html>