<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <title>Bulletin Board</title>
  </head>
  <body>
    <h1>Bulletin Board</h1>
    <button onclick="window.location='/form'">Add</button>
    <br/>
    <table th:if="${not #lists.isEmpty(postings)}">
      <thead>
        <tr>
          <td>Date</td>
          <td>Post</td>
          <td>Name</td>
          <td>Edit</td>
          <td>Delete</td>
        </tr>
      </thead>
      <tbody>
        <tr th:each="post : ${postings}">
          <td th:text="${#dates.format(post.dateCreated, 'dd-MM-yyyy hh:mm')}">0</td>
          <td th:text="${post.content}">Content</td>
          <td th:text="${post.poster}">Name</td>
          <td><button th:attr="onclick=|window.location='/${post.pid}/edit'|">Edit</button></td>
          <td>
            <form th:action="@{/{id}/delete(id=${post.pid})}" method="POST">
              <input type="hidden" name="_method" value="DELETE" />
              <input type="hidden" name="_token" value="{{ csrf_token() }}">
              <input type="submit" value="Delete">
            </form>
          </td>
        </tr>
      </tbody>
    </table>
    <h2 th:if="${#lists.isEmpty(postings)}">There are no posts</h2>
  </body>
</html>